* {
    margin: auto;
    padding: auto;
    font-family: sans-serif;
}

.mainheader {
    display: flex;
    flex-wrap: wrap;
    background-color: #383F47;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color: #E8491D;


}

.mainheader h1 {
    color: white;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    margin-left: 40px;
    color: white;
}

.imgheader {
    background-image: url(img/nn.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

main h2 {
    color: white;
}

.btn1 button {
    background-color: #E8491D;
    border: none;
    height: 23px;
    color: white;
}

.text {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    color: white;

}

.text h1 {
    font-size: 60px;
    line-height: 100px;
}

.text p {
    font-size: 18px;
    line-height: 30px;
}


main {
    display: flex;
    flex-wrap: wrap;
    background-color: #383F47;
    height: 86px;
    margin-top: -30px;
}


.btn1 input {
    height: 30px;
    width: 250px;
}

.btn1 button {
    width: 100px;
    height: 35px;
}

.fotter {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.fotter h3 {
    line-height: 60px;
}

.fotter p {
    line-height: 25px;
}

.fotter img {
    width: 100px;
}

.fotter2 {
    background-color: #E8491D;
    height: 80px;
    text-align: center;
    color: white;
    margin-top: 50px;

}

.fotter2 p {
    padding-top: 35px;
}

/* //about// */
.nav2 {
    margin-top: 0px;
}

.nav2 input {
    height: 30px;
    width: 250px;
}

.nav2 button {
    width: 100px;
    height: 35px;
}

.mainabout {
    display: flex;
    flex-wrap: wrap;

}

.textmain1 {
    width: 50%;
    /* width: 50%; */
    height: 160px;
    padding: 18px;

}

.textmain1 p {
    line-height: 23px;
}

.textmain1 h3 {
    line-height: 70px;
}

.textmain2 {
    margin-top: 20PX;
    background-color: #35424A;
    /* width: 800px; */
    width: 100%;
    height: 160px;
    color: white;
    padding: 18px;
}

.textmain2 p {
    margin-top: 13px;
}

.textmain3 {
    margin-top: 40px;
    background-color: #35424A;
    width: 300px;
    height: 160px;
    color: white;
    padding: 18px;
}

.textmain3 h3 {
    line-height: 50px;
}

.textmain3 p {
    line-height: 20px;
}

.fotter3 {
    background-color: #E8491D;
    height: 80px;
    text-align: center;
    color: white;
    margin-top: 270px;
}

.fotter3 p {
    padding-top: 35px;
}


/* services */

.mainServ {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

.titel4 {
    margin-left: 230px;
}

.style {
    margin-top: 20px;
    background-color: #E6E6E6;
    /* width: 740px; */
    width: 50%;
    height: 130px;
    padding: 60px;

}

.style2 h3 {
    /* line-height: 60px; */
}

.style2 p {
    /* padding-bottom: 20px; */
    margin-top: 19px;
}

/* form */
.formserv {
    /* margin-right: 180px; */
    /* margin-right: 53px; */
    margin-top: -10px;
    background-color: #35424A;
    width: 250px;
    height: 230px;
    color: white;
}

.formserv h3 {
    line-height: 50px;

}

.formserv input {
    width: 200px;
}

form {
    padding: 30px;
}

#message {
    height: 30px;
}

.formserv button {
    background-color: #E8491D;
    border: none;
    height: 30px;
    width: 70px;
    color: white;
}

.fotter4 {
    background-color: #E8491D;
    height: 80px;
    text-align: center;
    color: white;
    margin-top: 40px;

}

.fotter4 p {
    padding-top: 35px;
}